<h1>Primary Records</h1>

<h3>You search the key word: <%= @search %></h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
<p>Let's face it, your search returned no results.</p>
<% end %>



<h3>Want to search again? Enter the name of an album you would like to search:</h3>

<form action="/search" method="get">
  <div class="form-group">
    <label for="query">Search</label>
    <input id="query" name="query" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
